* {
    margin:0;
}

html, body{
    height:100%;
}

h1,h2,h3,h4,h5, p{
    color:#fff;
    font-family: 'Roboto';
    padding:0px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 25px;
}

.container{
    display:grid;

    width: inherit;
    height: inherit;

    grid-template-columns:40% 60%;
    grid-template-rows:  97% 3%;
    grid-template-areas: 
        "content   board"
        "footer    footer";

}

.container .content-component{
    display: inherit;


    padding:50px 0px;

    background: #692E25;
    text-align: center;
    justify-content: center;
    align-content: center;

    grid-area: content;
    grid-template-columns: 100%;
    grid-template-rows:0.4fr 1fr 0.7fr;
    grid-template-areas:
        "header"
        "difficulty"
        "score";
}

.content-component .header-component {
    display:inherit;

    grid-area: header;
    grid-template-rows:1fr 50px;
    grid-template-areas: 
        "tittle"
        "decorate-header";
}

.header-component .tittle-section {
    grid-area: tittle;
}

.header-component .decorate-section {
    grid-area: decorate-header;
}

.content-component .difficulty-component {
    display:inherit;

    height:inherit;
    width:inherit;

    grid-area: difficulty;
    grid-template-columns: 100%;
    grid-template-rows:1fr 200px 50px;
    grid-template-areas: 
        "welcome"
        "cards"
        "decorate-difficulty";
}

.difficulty-component .welcome-section{
    grid-area: welcome;
    padding: 30px 20px;
}

.difficulty-component .difficulty-cards-section{
    grid-area: cards;
    padding: 0px 20px;
    height:inherit;
    width:inherit;
    display:inherit;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-content: center;
    grid-template-areas: "easy normal hard";
    grid-gap:30px;
}

.easy-card {
    grid-area: easy;
}

.normal-card {
    grid-area: normal;
}

.hard-card {
    grid-area: hard;
}

.difficulty-component .decorate-section {
    grid-area: decorate-difficulty;
}

.difficulty-card {
    border-radius: 15px;
    background: #fff;
    height: 115px;
    width: 130px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 8px 5px 8px 2px rgba(0,0,0,0.5);
}

.icon-difficulty{
    margin: auto 0px;
    border-radius: 15px;
    width:120px;
    height: 115px;
}

.content-component .score-component {
    grid-area: score;
}

.container .board-component {
    grid-area: board;
    display:inherit;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "board";
    background: #93665F;
    padding:30px;
}

.board-component .board-section {
    grid-area: board;
    height:inherit;
    border: 10px solid #401C17;
    display: grid;
    padding:30px;
    gap:10px 30px;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4,minmax(120px,140px));
    grid-template-rows: repeat(3,160px);
    grid-template-areas:
        "card-0     card-1      card-2      card-3"
        "card-4     card-5      card-6      card-7"
        "card-8     card-9     card-10     card-11";
}

.container .footer-component {
    grid-area: footer;
    background: #401C17;
}

@media only screen and (max-width:1024px){
    .board-component .board-section {
        grid-template-areas: 
            "card-0 card-1 card-2"
            "card-3 card-4 card-5"
            "card-6 card-7 card-8"
            "card-9 card-10 card-11";
    }
}

@media only screen and (max-width:768px){
    .board-component .board-section {
        grid-template-areas: 
            "card-0 card-1 card-2"
            "card-3 card-4 card-5"
            "card-6 card-7 card-8"
            "card-9 card-10 card-11";
    }
}

@media only screen and (max-width:480px){
    .board-component .board-section {
        grid-template-areas: 
            "card-0 card-1 card-2"
            "card-3 card-4 card-5"
            "card-6 card-7 card-8"
            "card-9 card-10 card-11";
    }
}

