* {
    margin:0;
}

html, body{
    height:100%;
}

h1,h2,h3,h4,h5, p{
    color:#fff;
    font-family: 'Roboto';
    padding:10px 0px;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 25px;
}

.container{
    display:grid;
    width: inherit;
    height: inherit;
    grid-template-columns:40% 60%;
    grid-template-rows:  97% 3%;
    grid-template-areas: 
        "content   board"
        "footer    footer";
}

.container .content-component{
    grid-area: content;
    background: #692E25;
    padding: 50px 10px 0px;
    text-align: center;
    display: inherit;
    grid-template-columns: 100%;
    grid-template-rows: 1.5fr 2.5fr 1fr;
    grid-template-areas:
        "header"
        "difficulty"
}

.content-component .header-component {
    grid-area: header;
    display:grid;
    grid-template-areas: 
        "tittle"
        "decorate";
}

.header-component .tittle-section {
    grid-area: tittle;
}

.header-component .decorate-section, .difficulty-cards-section .decorate-section {
    grid-area: decorate;
}

.content-component .difficulty-component {
    padding:10px 0px 0px;
    grid-area: difficulty;
    display:inherit;
    grid-template-columns: 100%;
    grid-template-rows:200px, 200px,200px;
    height:inherit;
    grid-template-areas: 
        "welcome"
        "cards"
        "decorate"
        "score";
}

.difficulty-component .welcome-section{
    grid-area: welcome;
    padding: 20px 0px;
}

.difficulty-component .difficulty-cards-section{
    grid-area: cards;
    display:inherit;
    grid-template-columns: repeat(3,140px);
    justify-content: center;
    grid-template-areas: "easy normal hard";
    grid-gap:30px;
    padding-bottom: 20px;
}

.difficulty-card {
    border-radius: 15px;
    background: #fff;
    height: 115px;
    width: 130px;
    padding: 10px;
    box-shadow: 8px 5px 8px 2px rgba(0,0,0,0.5);
}

.icon-difficulty{
    margin: auto 0px;
    border-radius: 15px;
    width:120px;
    height: 115px;
}

.difficulty-component .score-section {
    grid-area: score;
}

.container .board-component {
    grid-area: board;
    display:inherit;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "board";
    background: #93665F;
    padding:30px;
}

.board-component .board-section {
    grid-area: board;
    height:inherit;
    border: 10px solid #401C17;
    display: grid;
    padding-top:10px;
    gap:10px 30px;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4,140px);
    grid-template-rows: repeat(3,160px);
    grid-template-areas:
        "card-1     card-2      card-3      card-4"
        "card-5     card-6      card-7      card-8"
        "card-9     card-10     card-11     card-12"
        "card-13    card-14     card-15     card-16";

}

.container .footer-component {
    grid-area: footer;
    background: #401C17;
}

